@keyframes titleMove{
  0% {transform: translate(30%, 0)}
  100% {transform: translate(-30%, 0)}
}



body{
  height: 100vh;
  width: 100vw;
/*  background-color: #fff;*/
  cursor: none;
}


.cursor{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #29044a;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.25s, height 0.25s;

}

.cursor.isDown{
  width: 80px;
  height: 80px;
}

.cursor h2{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Bungee Shade', cursive;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;

}


.pattern{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: #d4d4d4;*/
}

.container-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



#title {
  animation: titleMove 8s infinite alternate;
  font-family: 'Bungee Shade', cursive;
  font-size: 64px;
  font-weight: bold;
  max-width: 100vw;
}

.scratched-out {
  mix-blend-mode: darken;
}

.poster{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.poster img{
  max-height: 100vh;
}


.lineup img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
